@page
@model CarWorkshop.Pages.Cars.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">
    Add New Car
</h2>
<br />

<form method="post">
    <div class="border backgroundwhite">
        <input hidden asp-for="car.UserId" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="car.VIN"></label>
            </div>
            <div class="col-5">
                <input asp-for="car.VIN" class="form-control" />
            </div>
            <span asp-validation-for="car.VIN" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="car.Make"></label>
            </div>
            <div class="col-5">
                <input asp-for="car.Make" class="form-control" />
            </div>
            <span asp-validation-for="car.Make" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="car.Model"></label>
            </div>
            <div class="col-5">
                <input asp-for="car.Model" class="form-control" />
            </div>
            <span asp-validation-for="car.Model" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="car.Style"></label>
            </div>
            <div class="col-5">
                <input asp-for="car.Style" class="form-control" />
            </div>
            <span asp-validation-for="car.Style" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="car.color"></label>
            </div>
            <div class="col-5">
                <input asp-for="car.color" class="form-control" />
            </div>
            <span asp-validation-for="car.color" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="car.Year"></label>
            </div>
            <div class="col-5">
                <input asp-for="car.Year" class="form-control" />
            </div>
            <span asp-validation-for="car.Year" class="text-danger"></span>
        </div>



        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_NewAndBackToListButton" />
            </div>
        </div>


    </div>
</form>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

